/firmware/PIC32MZ_PeripheralConfig.X/.generated_files/
/firmware/PIC32MZ_PeripheralConfig.X/build/
/firmware/PIC32MZ_PeripheralConfig.X/debug/
/firmware/PIC32MZ_PeripheralConfig.X/dist/
/firmware/PIC32MZ_PeripheralConfig.X/nbproject/Makefile-*
/firmware/PIC32MZ_PeripheralConfig.X/nbproject/Package-*
/firmware/PIC32MZ_PeripheralConfig.X/nbproject/private
~$*